In [5]:
import pandas as pd

df = pd.read_parquet("data/AAPL.parquet")
df.head()

Ticker         price  timestamp symbol
Date
2005-01-03  0.949987 2005-01-03   AAPL
2005-01-04  0.959744 2005-01-04   AAPL
2005-01-05  0.968149 2005-01-05   AAPL
2005-01-06  0.968899 2005-01-06   AAPL
2005-01-07  1.039446 2005-01-07   AAPL

In [6]:
df.columns

Index(['price', 'timestamp', 'symbol'], dtype='object', name='Ticker')